.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #F56B43;
    width: 250px;
    transform: translateX(-100%);
    z-index: 999999;
    transition: 0.5s;
    padding: 20px 0 0 0;
}

.mobile-menu.slide-in{
    transform: translateX(0);
}

.mobile-menu .mmenu-close{
    transform: translateX(85%);
}

.mobile-menu .inner .mmenu-close .btn-close{
    color: #fff;
}

.mobile-menu .inner  .mobile-nav ul.d-flex{
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.mobile-menu .inner  .mobile-nav ul li{
    padding: 10px 0;
    transition: 0.5s;
    background-color: #F56B43;
    padding: 10px 0 10px 30px;
    margin: 0;
}


.mobile-menu .inner  .mobile-nav ul li a{
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    padding: auto;
    transition: 0.5s;
}

.mobile-menu .inner  .mobile-nav ul li:hover{
    background-color: #1d1e23;
}