body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
}

.btn {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 24px;
    background-image: -moz-linear-gradient(145deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -webkit-linear-gradient(145deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -ms-linear-gradient(145deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    transition: 0.3s ease-in-out;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
    background-image: -moz-linear-gradient(145deg, rgb(243, 99, 74 0%, )rgb(254, 148, 26) 100%);
    background-image: -webkit-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
    background-image: -ms-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
}

.btn:focus {
    box-shadow: none;
}

.hidden {
    display: none;
    text-indent: -999999px;
}

h5.text-orange {
    font-family: inherit;
    font-size: 16px;
    color: #fc7b2e;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}


h2.section-title {
    position: relative;
    font-family: inherit;
    font-size: 50px;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

h2.section-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 2px;
    background-image: -moz-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
}


a,
a:hover,
a:visited,
a:link,
a:active {
    display: inline-block;
    text-decoration: none;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mmenu {
    display: none;
    text-align: right;
}

.mmenu .mmenu-trigger {
    border: none;
    background-color: transparent;
    outline: none;
    color: #FC7B2E;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

section.hero-section {
    padding: 0;
    margin-right: 0;
    background-color: #1d1e23;
}

section.hero-section .hero-lt-block {
    width: 50%;
    padding: 0;
    margin: 0;
}

section.hero-section .hero-lt-block .hero-img-block {
    position: relative;
}

section.hero-section .hero-lt-block .hero-img-block {
    position: relative;
    width: 100%;
    height: 100%;
}

section.hero-section .hero-lt-block .hero-img-block img.img-fluid {
    width: 100%;
    object-fit: cover;
}

section.hero-section .hero-lt-block .hero-img-block a {
    position: absolute;
    top: 30px;
    left: 100px;
}

section.hero-section .hero-lt-block .hero-img-block a .logo-block {
    width: 200px;
}

section.hero-section .hero-rt-block {
    width: 50%;
    background-color: #1d1e23;
    padding: 30px 100px 30px 30px;
    margin: 0;
}

section.hero-section .hero-lt-block .hero-img-block img.img-fluid {
    width: 100%;
    object-fit: cover;
}

section.hero-section .hero-rt-block nav ul li {
    margin-right: 20px;
    padding-bottom: 20px;
}

section.hero-section .hero-rt-block nav ul li a {
    position: relative;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
}

section.hero-section .hero-rt-block nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-image: -moz-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -webkit-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    background-image: -ms-linear-gradient(180deg, rgb(254, 148, 26) 0%, rgb(243, 99, 74) 100%);
    transition: 0.3s ease-in-out;
}

section.hero-section .hero-rt-block nav ul li a.active::after {
    width: 100%
}

section.hero-section .hero-rt-block nav ul li a:hover::after {
    width: 100%;
}


section.hero-section .hero-rt-block .text-block {
    padding: 0;
    margin: 0;
}

section.hero-section .hero-rt-block .text-block h1 {
    font-family: inherit;
    font-size: 80px;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    padding: 0;
}

section.hero-section .hero-rt-block .text-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0;
    margin: 50px 0;
}

section.hero-section .hero-rt-block .text-block .btn-block {
    display: flex;
    justify-content: flex-start;
}


section.hero-section .hero-rt-block .text-block .btn-block button.btn {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    background-color: transparent;
    background-image: none;
    text-transform: uppercase;
    padding: 10px 20px;
}

section.hero-section .hero-rt-block .text-block .btn-block button.btn span {
    color: #f36544;
    margin-right: 10px;
}

section.hero-section .hero-rt-block .text-block .btn-block button.btn:focus,
section.hero-section .hero-rt-block .text-block .btn-block button.btn:focus-visible {
    /*box-shadow: none;*/
    outline: 2px solid #FC8B08;
}

/* About section START */

section.about-section {
    padding: 100px 0;
    background-color: #24272e;
}

section.about-section .text-block {
    padding: 0;
    margin: 0;
}


section.about-section .text-block p.text-orange {
    font-family: inherit;
    font-size: 16px;
    color: #fc7b2e;
    line-height: 1.3;
    font-weight: 400;
}

section.about-section .text-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
}

section.about-section .text-block a.btn {
    margin-top: 30px;
}


section.about-section .videos-block {
    padding: 0;
    margin: 0;
}

section.about-section .videos-block .slider-for {
    width: 100%;
    height: auto;
}

section.about-section .videos-block .slider-for video {
    max-width: 100%;
    height: auto;

}

.slider-nav {
    background: rgb(36, 39, 46);
    background: linear-gradient(90deg, rgba(36, 39, 46, 1) 0%, rgba(36, 39, 46, 0) 50%, rgba(36, 39, 46, 1) 100%);
    position: relative;
}

.slider-nav::before {
    content: '';
    width: 50px;
    height: 100%;
    background: rgb(36, 39, 46);
    background: linear-gradient(90deg, rgba(36, 39, 46, 1) 0%, rgba(36, 39, 46, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1111;
}

.slider-nav::before {
    content: '';
    width: 50px;
    height: 100%;
    background: rgb(36, 39, 46);
    background: linear-gradient(270deg, rgba(36, 39, 46, 1) 0%, rgba(36, 39, 46, 0) 100%);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1111;
}

.slider-nav .img-thumbnail {
    border: 2px solid #fc900000;
    border-radius: 0;
    padding: 0;
    background-color: #24272E;
    margin-right: 15px;
    margin-left: 15px;
    opacity: 0.5;
}

.slider-nav .img-thumbnail.slick-current {
    border: 2px solid #fc9000;
    opacity: 1;
}

/* About section END */
/* Testimonials Section START */
section.testimonials-section {
    background-color: #191a1f;
    padding: 100px 0;
}

section.testimonials-section .title-block {
    text-align: center;
}

section.testimonials-section .title-block h2.section-title::after {
    left: 50%;
    transform: translateX(-50%);
}

section.testimonials-section .testimonial-cards .testimonial-card {
    background-color: #24272E;
    margin-left: 15px;
    margin-right: 15px;
}


section.testimonials-section .testimonial-cards .testimonial-card .text-block {
    position: relative;
    width: 70%;
    background-color: transparent;
    padding: 30px;
    padding-right: 0;
}


section.testimonials-section .testimonial-cards .testimonial-card .text-block::after {
    content: "";
    position: absolute;
    right: -29px;
    top: 0;
    width: 30px;
    height: 100%;
    background-color: #24272E;
    clip-path: polygon(0 0, 93% 0, 23% 100%, 0% 100%);
}

section.testimonials-section .testimonial-cards .testimonial-card .text-block h4 {
    font-family: inherit;
    font-size: 26px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
}

section.testimonials-section .testimonial-cards .testimonial-card .text-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
}

section.testimonials-section .testimonial-cards .testimonial-card .text-block .stars {
    color: #fc7b2e;
    margin-top: 50px;
}

section.testimonials-section .testimonial-cards .testimonial-card .text-block .profession {
    font-family: inherit;
    font-size: 16px;
    color: #fc7b2e;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
}


section.testimonials-section .testimonial-cards .testimonial-card .img-block {
    background-size: lightblue;
}

section.testimonials-section .testimonial-cards ul.slick-dots {
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
}

section.testimonials-section .testimonial-cards ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    font-size: 0;
    border-radius: 50%;
    margin: 0 5px;
}

section.testimonials-section .testimonial-cards ul li.slick-active {
    background-color: #ffffff;
    opacity: 1;
}

section.testimonials-section .testimonial-cards ul li button {
    display: none;
}

/* Testimonials Section END */
/* Gallery Section START */
.gallery-section {
    background-color: #1c202a;
    overflow-x: hidden;
    padding: 120px 0;
    margin: 0;
}

/* Gallery Section END */

/*  Membership Section START */
section.membership-section {
    position: relative;
    padding: 100px 0;
    background-color: #242732;
    background-image: url(../images/bg-dark-pattran.jpg);
    background-repeat: repeat;
    z-index: 1;
}

section.membership-section .title-block {
    text-align: center;
    margin-bottom: 100px;
}

section.membership-section .title-block h2.section-title::after {
    left: 50%;
    transform: translateX(-50%);
}


section.membership-section .membership-cards {
    padding: 0;
    margin: 0;
}

section.membership-section .membership-cards .membership-card {
    position: relative;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    background-image: url(../images/bg-dark-pattran.jpg);
    background-repeat: repeat;
    padding: 30px 0;
    border-radius: 5px;
}

section.membership-section .membership-cards .card-highlight {
    border: 1px solid #f77618;
    padding: 50px 0;
}


section.membership-section .membership-cards .membership-card[data-badge="🔥"]::before {
    transition: 0.5s ease-in-out;
    content: attr(data-badge);
    position: absolute;
    top: 0;
    left: 20px;
    background-color: #EF5135;
    width: 50px;
    padding: 7px 0 14px;
    border-radius: 3px 3px 0 0;
    color: #fff;
    transform: translateY(20px);
    z-index: -1;
}

section.membership-section .membership-cards .membership-card[data-badge="🔥"]:hover::before {
    transform: translateY(-50px);
}

section.membership-section .membership-cards .membership-card h3.price {
    font-family: inherit;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    padding: 0;
    margin-bottom: 20px;
}

section.membership-section .membership-cards .membership-card h3.price span {
    font-family: inherit;
    color: #ef5135;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
}

section.membership-section .membership-cards .membership-card ul {
    padding: 0;
    margin: 0;
}

section.membership-section .membership-cards .membership-card ul li {
    display: block;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    padding: 15px 0;
}

section.membership-section .membership-cards .membership-card ul li.time {
    background-color: #2e3139;
    font-size: 18px;
}

section.membership-section .membership-cards .card-highlight ul li.time {
    background-image: -moz-linear-gradient(120deg, rgb(252, 139, 8) 0%, rgb(246, 110, 31) 55%, rgb(239, 81, 53) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(252, 139, 8) 0%, rgb(246, 110, 31) 55%, rgb(239, 81, 53) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(252, 139, 8) 0%, rgb(246, 110, 31) 55%, rgb(239, 81, 53) 100%);
}


section.membership-section .membership-cards .membership-card ul li a {
    font-family: inherit;
    color: #ef5135;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    transition: 0.3s;
}

section.membership-section .membership-cards .membership-card ul li a:hover {
    color: #fff;
}

/*  Membership Section END */
/* Calculator Section START */
section.calculator-section {
    background-color: #191a1f;
}

section.calculator-section .calculator-section-content.d-flex {
    justify-content: space-between;
    align-items: center;
}

section.calculator-section .calculator-block {
    width: 50%;
    padding: 50px;
}

section.calculator-section .calculator-block .bmi-calculator {
    background-color: transparent;
}

section.calculator-section .calculator-block .bmi-calculator form.form {
    padding: 0;
    margin: 0;
}

section.calculator-section .calculator-block .bmi-calculator form.form .form-group {
    width: 50%;
    padding: 0;
    margin-bottom: 30px;
}

section.calculator-section .calculator-block .form-input-items.d-flex {
    justify-content: flex-start;
    gap: 30px;
}

section.calculator-section .calculator-block .bmi-calculator form.form .form-group label {
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.calculator-section .calculator-block .bmi-calculator form.form .form-group input.form-control {
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    border: 1px solid rgba (255, 255, 255, 0.8);
    background-color: #191a1f;
    border-radius: 0;
    padding: 10px
}

section.calculator-section .calculator-block .bmi-calculator form.form .form-group input.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #fff;

}


section.calculator-section .calculator-block .bmi-calculator form.form .gender {
    margin-bottom: 20px;
}

section.calculator-section .calculator-block .bmi-calculator form.form .gender .form-check-input:checked {
    background-color: #ef5135;
    border-color: #ef5135;
    box-shadow: none;
}

section.calculator-section .calculator-block .bmi-calculator form.form .gender .btn-and-result-block {
    padding: 0;
    margin: 0;
}

section.calculator-section .calculator-block .bmi-calculator form.form .btn-and-result-block .result {
    font-family: inherit;
    font-size: 16px;
    color: #191a1f;
    line-height: 1.1;
    font-weight: 400;
    background-color: #fff;
    width: 50px;
    margin-left: 10px;
    text-align: center;
    padding: 10px 0;
}

section.calculator-section .img-block {
    width: 50%;
    line-height: 0;
}

section.calculator-section .img-block img {
    line-height: 0;
}


/* Calculator Section END */
/* All offer Section START */
section.all-offer-section {
    background-color: #191a1f;
}

section.all-offer-section .all-offer-section-content {
    padding: 0;
    margin: 0;
}

section.all-offer-section .all-offer-section-content.D-flex {
    justify-content: space-between;
    align-items: center;
}

section.all-offer-section .all-offer-section-content .img-block {
    width: 50%;
    line-height: 0;
}

section.all-offer-section .all-offer-section-content .all-offer-block {
    width: 50%;
    padding: 50px 50px 0 50px;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block {
    padding: 0;
    margin: 0;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block .content .d-flex {
    justify-content: flex-start;
    margin-bottom: 30px;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block .content .icon-block {
    margin-right: 20px;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block {
    padding: 0;
    margin: 0;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block h4 {
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    line-height: 1.1;
    font-weight: 500;
    padding: 0;
    margin-bottom: 10px;
}

section.all-offer-section .all-offer-section-content .all-offer-block .text-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/* All offer Section END */
/* Blog Section START */
section.blog-section {
    background-color: #24272e;
    padding: 80px;
}

section.blog-section .title-block {
    text-align: center;
}

section.blog-section .title-block h2:after {
    left: 50%;
    transform: translateX(-50%);
}

section.blog-section .news-cards {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

section.blog-section .news-cards .card {
    width: 370px;
    background-color: #191a1f;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #ef5135;
    border-radius: 0;
    margin: 0 15px;
}

section.blog-section .news-cards .card .card-img-block {
    padding: 0;
    margin: 0;
}

section.blog-section .news-cards .card .card-text-block {
    padding: 30px;
}

section.blog-section .news-cards .card .card-text-block span {
    font-family: inherit;
    font-size: 14px;
    color: #f2a544;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#ef5135, #fc8b08);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.blog-section .news-cards .card .card-text-block h3 {
    font-family: inherit;
    font-size: 24px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.blog-section .news-cards .card .card-text-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

section.blog-section .news-cards .card .status-block {
    background-color: transparent;
    padding: 20px 30px;
}

section.blog-section .news-cards .card .status-block .d-flex {
    justify-content: space-between;
}

section.blog-section .news-cards .card .status-block span {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.3s;
}

section.blog-section .news-cards .card .status-block span:hover {
    color: #f2a544;
}

section.blog-section .news-cards .card .status-block span i {
    font-size: 20px;
}

section.blog-section .news-cards .card .status-block span i:hover {
    color: #f2a544;
}

section.blog-section .news-cards .card .status-block span.time {
    border-right: 1px solid #464646;
    padding-right: 10px;
}


section.blog-section .news-cards ul.slick-dots {
    background-color: transparent;
    text-align: center;
    margin-top: 30px;
}

section.blog-section .news-cards ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    font-size: 0;
    border-radius: 50%;
    margin: 0 5px;
}

section.blog-section .news-cards ul li button {
    display: none;
}

section.blog-section .news-cards ul li.slick-active {
    background-color: #ffffff;
    opacity: 1;
}

/* Blog Section END */
/* Cotact Section START */
section.contact-section {
    background-image: url(../images/contact-bg-image.jpg);
    background: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section.contact-section .contact-block {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 80px 0;
}

section.contact-section .contact-block .title-block h2:after {
    left: 50%;
    transform: translateX(-50%);
}

section.contact-section .contact-block p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0 30%;
    margin-bottom: 30px;
}

/* Cotact Section END */
/* Footer Section START */
section.footer-section {
    background-color: #191a1f;
    padding: 50px 0 0 0;
}

section.footer-section .footer-item {
    padding: 0;
    margin: 0;
}

section.footer-section .footer-item img.footer-logo {
    width: 200px;
}

section.footer-section .footer-item p {
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
}

section.footer-section .footer-item .icons-block {
    padding: 0;
    margin: 0;
}

section.footer-section .footer-item .icons-block a {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    margin-right: 10px;
    transition: 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section.footer-section .footer-item .icons-block a .bx {
    /*    vertical-align: middle;*/
    color: #fff;
    font-size: 20px;
    transition: 0.3s;
}

section.footer-section .footer-item .icons-block a:hover {
    background: rgb(239, 81, 53);
    background: linear-gradient(90deg, rgba(239, 81, 53, 1) 0%, rgba(252, 139, 8, 1) 100%);
    border: hidden;
}

section.footer-section .footer-item h4.item-title {
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 30px;
}

section.footer-section .footer-item .contacts a {
    display: block;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.3s;
}

section.footer-section .footer-item .contacts a:hover {
    color: #fc7b2e;
}

section.footer-section .footer-item .contacts a span {
    vertical-align: middle;
    color: #fc7b2e;
    margin-right: 5px;
}

section.footer-section .footer-item .tags {
    padding: 0;
    margin: 0;
}

section.footer-section .footer-item .tags a.tag {
    width: 100px;
    font-family: inherit;
    font-size: 13px;
    color: #fff;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 7px 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: 0.3s;
    border-radius: 20px;
}

section.footer-section .footer-item .tags a.tag:hover {
    border: hidden;
    color: #fff;
    background-image: -moz-linear-gradient(145deg, rgb(243, 99, 74 0%, )rgb(254, 148, 26) 100%);
    background-image: -webkit-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
    background-image: -ms-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
}

section.footer-section .links {
    /*
    background-image: -moz-linear-gradient(145deg, rgb(243, 99, 74 0%, )rgb(254, 148, 26) 100%);
    background-image: -webkit-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
    background-image: -ms-linear-gradient(145deg, rgb(243, 99, 74) 0%, rgb(254, 148, 26) 100%);
*/
    text-align: center;
    margin-top: 30px;
}

section.footer-section .links ul {
    padding: 10px 0;
}

section.footer-section .links ul li {
    margin: 0 10px;
}

section.footer-section .links ul li a {
    font-family: inherit;
    font-size: 14px;
    color: #ffffff80;
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;
}

section.footer-section .links ul li a:hover {
    opacity: 0.6;
}

section.footer-section .copyright {
    font-family: inherit;
    font-size: 14px;
    color: #ffffff80;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
    opacity: 0.8;
    /*    background-color: #282931;*/
    padding: 15px 0;
}


/*Responsive*/
@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1199px) {
    .hero-section .hero-lt-block {
        background-image: url(../images/hero-image.jpg);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero-section .hero-lt-block .hero-img-block .hero-img {
        display: none;
    }

    section.hero-section .hero-rt-block {
        padding: 30px 52px 30px 30px;
    }

    section.hero-section .hero-rt-block nav ul {
        padding: 0;
        margin: 0;
    }

    section.hero-section .hero-rt-block nav ul li a {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1150px) {
    section.hero-section .hero-rt-block .text-block h1 {
        font-size: 60px;
    }


}

@media screen and (max-width: 991px) {

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .mmenu {
        display: block;
    }

    section.hero-section .hero-lt-block .hero-img-block a {
        left: 50px;
    }

    section.hero-section .hero-rt-block nav.nav-block {
        display: none;
    }


    section.hero-section .hero-rt-block .text-block h1 {
        font-size: 50px;
    }

    section.hero-section .hero-rt-block .text-block p {
        margin: 26px 0;
    }

    section.hero-section .hero-rt-block .text-block .btn-block .btn {
        font-size: 14px;
        padding: 10px 16px;
    }

    section.hero-section .hero-rt-block .text-block .btn-block button.btn {
        font-size: 14px;
        padding: 10px 16px;
    }
    
    .slider-nav {
    margin-top: 30px;
}

    section.about-section {
        padding: 50px 0;
        background-color: #24272e;
    }

    section.about-section .row .col-md-6 {
        width: 100%;
        margin-bottom: 30px;
    }

    h5.text-orange {
        text-align: center;
    }

    h2.section-title {
        text-align: center;
        font-size: 40px;
        padding-bottom: 16px;
    }

    h2.section-title::after {
        left: 50%;
        transform: translatex(-50%);
    }

    section.testimonials-section {
        padding: 50px 0;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .d-flex {
        flex-direction: column-reverse;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .img-block {
        width: 100%;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .img-block img {
        width: 100%;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .img-block .slick-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .text-block::after {
        display: none;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .text-block .stars {
        margin-top: 30px;
    }

    section.testimonials-section .testimonial-cards .testimonial-card .text-block {
        width: 100%;
        padding: 30px;
    }

    section.membership-section {
        padding: 50px 0;
    }

    section.membership-section .membership-cards .membership-card h3.price {
        font-size: 34px;
    }

    section.membership-section .membership-cards .membership-card h3.price span {
        font-size: 14px;
    }

    section.membership-section .membership-cards .membership-card ul li.time {
        font-size: 16px;
    }

    section.membership-section .membership-cards .membership-card ul li.time {
        padding: 12px 0;
    }

    section.calculator-section .calculator-section-content.d-flex {
        flex-direction: column;
    }

    section.all-offer-section .all-offer-section-content.d-flex {
        flex-direction: column-reverse;
        align-items: center;
    }

    section.calculator-section .calculator-block {
        width: 60%;
    }

    section.all-offer-section .all-offer-section-content .all-offer-block {
        width: 60%;
    }

    section.blog-section {
        padding: 50px;
    }
}

@media screen and (max-width: 900px) {
    section.hero-section .hero-lt-block .hero-img-block img.img-fluid {
        width: 130px;
        object-fit: cover;
    }

    .gallery-section {
        padding: 50px 0;
    }

    section.contact-section .contact-block {
        padding: 50px 0;
    }
    section.membership-section .title-block {
    margin-bottom: 50px;
}
    
    section.footer-section .footer-item {
    padding: 0;
    margin: 0 0 50px 0;
}
}

@media screen and (max-width: 768px) {
    section.membership-section .membership-cards .membership-card {
        margin-bottom: 30px;
    }

    section.calculator-section .calculator-block {
        width: 80%;
    }

    section.calculator-section .img-block {
        width: 100%;
    }
    section.all-offer-section .all-offer-section-content .all-offer-block{
       width: 80%;  
    }
    section.all-offer-section .all-offer-section-content .img-block{
       width: 100%; 
    }
}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 520px) {}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 400px) {}

/* Footer Section END */


/* https://cssgrid-generator.netlify.app/
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.parent .con-div{
    background-color: gray;
    color: #000;
    padding: 30px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

.img-responsive{
    width: 100%;
    object-fit: cover;
}*/
